<ion-header>
  <ion-toolbar color="pipo" class="ion-text-center">
    <ion-title>
      Clima
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>São Paulo</ion-card-subtitle>
      <ion-card-title>Lençóis Paulista</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="sunny-outline" class="icone"></ion-icon>
      <h1 class="grau">33°C</h1>
      <h2 class="grau2">Ensolarado o dia todo</h2>

      <br>
      <br>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-icon name="sunny-outline" class="icone2"></ion-icon>

          <br>

          <h5 class="pi">Ensolarado</h5>
        </ion-thumbnail>

        <ion-label>Macatuba - SP</ion-label>

        <ion-chip color="warning">
          <ion-label color="warning">20°C / 35°C</ion-label>
        </ion-chip>
      </ion-item>

      <br>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-icon name="rainy-outline" class="icone2"></ion-icon>

          <br>

          <h5 class="pi2">Chuvoso</h5>
        </ion-thumbnail>

        <ion-label>Pederneiras - SP</ion-label>

        <ion-chip color="secondary">
          <ion-label color="secondary">15°C / 24°C</ion-label>
        </ion-chip>
      </ion-item>

      <br>

      <ion-item>
        <ion-thumbnail slot="start">

          <ion-icon name="cloud-outline" class="icone2"></ion-icon>

          <br>

          <h5 class="pi2">Nublado</h5>
        </ion-thumbnail>

        <ion-label>Bauru - SP</ion-label>

        <ion-chip color="medium">
          <ion-label color="medium">12°C / 20°C</ion-label>
        </ion-chip>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
