.icone{
  height: 50px;
  width: 50px;
}

.icone2{
  margin-top: 10px;
  height: 30px;
  width: 30px;
}

.grau{
  margin-top: -60px;
  margin-left: 85px;
}

.grau2{
  margin-top: 0px;
  margin-left: 80px;
}

.pi{
  margin-left: -15px;
  margin-top: -5px;
}

.pi2{
  margin-left: -11px;
  margin-top: -5px;
}

.pi3{
  margin-left: -6px;
  margin-top: -5px;
}
